<table width="800" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td width="69%">
				<img src="images/logo-invoice.png" width="300">
			</td>
			<td width="31%">
				<b>Invoice #:</b> 20180001<br>
				<b>Created:</b> Dec 03, 2018<br>
				<b>Due:</b> Dec 12, 2018								
			</td>
		</tr>
		<tr>
			<td colspan="2" height="40">
			</td>
		</tr>
		<tr>
			<td>
				<strong style="font-weight:bold;">Father Benjamin   Kneib</strong><br>
				1111 Trenton Street,<br>
				Chillicothe, MO, 64601
			</td>
			<td>
				<strong style="font-weight:bold;">Good Shepherd Travels</strong><br>
				9021 Washington Ln<br>Lantana, Texas 76226<br>
				info@goodshepherdtravel.com
			</td>
		</tr>
		<tr>
			<td colspan="2" height="40">
			</td>
		</tr>
		<tr bgcolor="#eee">
                <td>
                    <b>Item</b>
                </td>
                
                <td align="right">
                    <b>Price</b>
                </td>
            </tr>
            
						<tr class="item">
							<td>Package Fee</td>
							<td>3700</td>
						</tr>
											<tr class="item">
							<td>Air Upgrade</td>
							<td>1050</td>
						</tr>
												<tr class="item">
							<td>Land Upgrade</td>
							<td>800</td>
						</tr>
												<tr class="item">
							<td>Single Supplement</td>
							<td>0</td>
						</tr>
						            
            <tr class="total details">
                <td></td>
                
                <td>
                   Total: $5550                </td>
            </tr>
            			<tr class="heading">
                <td>
                    Payment Method
                </td>
                
                <td>
                    Amount
                </td>
            </tr>
            
						                            <tr class="item">
                                <td>Cash <small>(Oct 03, 2018)</small></td>
                                <td>$100</td>
                            </tr>
						                            <tr class="item">
                                <td>Cash <small>(Oct 11, 2018)</small></td>
                                <td>$570</td>
                            </tr>
						                            <tr class="item">
                                <td>Bank Transfer <small>(Nov 25, 2018)</small></td>
                                <td>$750</td>
                            </tr>
						                            <tr class="item">
                                <td>Cash <small>(Nov 26, 2018)</small></td>
                                <td>$340</td>
                            </tr>
						                            <tr class="item">
                                <td>Check <small>(Dec 10, 2018)</small></td>
                                <td>$775</td>
                            </tr>
						                            <tr class="item">
                                <td>Online Payment <small>(Dec 19, 2018)</small></td>
                                <td>$300</td>
                            </tr>
												<tr class="total details">
							<td></td>
							<td>Total: $2835</td>
						</tr>
            <tr class="heading">
                <td></td>
                <td>Total Amount Needed</td>
            </tr>
			<tr class="total">
				<td></td>
				<td>$2715</td>
			</tr>
			            <tr>
                <td colspan="2"><strong style="font-weight:bold;">Comments:</strong> testing to add comments</td>
            </tr>
	</tbody>
</table>